@use '@/styles/constants/colors.scss' as colors;

.calendar-container {
  position: relative;
  text-align: center;
}

.calendar-wrapper {
  // max-height: 390px;
  width: 100%;
  overflow: hidden;
  transition: max-height 0.1s ease;
}


.today {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  color: white !important;
  text-align: center;
  background-color: colors.$blue;
  border-radius: 50%;
}
