@use '@/styles/constants/colors.scss' as colors;
@use '@/styles/constants/typographies' as typo;

.homeContainer {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  
  .avatarContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: colors.$base;
    border-radius: 15px;
    padding: 20px 0;
    margin: 0 10px;
    position: relative;

    .title {
      display: flex;
      justify-content: space-between;
      gap: 140px;
    }

    .avatar {
      @include typo.button;
    }
  }
  
  
  .iconWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
  }
  
  .navIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px; 
    height: 35px; 
    border: 1px solid colors.$darkGray;  
    background-color: none;  
    border-radius: 50%; 
  }
  
  .icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  
  .time {
    @include typo.subtitle;
    
    span {
    color: colors.$pink;
    @include typo.time;
    
    }
  }
  

  
  .chartSection {
    width: 100%;
    max-width: 400px;
    margin: 20px 0;
  }
  
  .buttonSection {
    display: flex;
    gap: 10px;
  }
  
  .recommendButton,
  .crewButton {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .recommendButton {
    color: colors.$black;
  }
  
  .crewButton {
    color: colors.$black;
  }
  