@use '@/styles/constants/colors.scss' as colors;
@use '@/styles/constants/typographies' as typo;

.homeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  
  .characterContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: colors.$base;
    border-radius: 15px;
    padding: 20px 0;
    margin: 0 10px;
    position: relative;

    .title {
      display: flex;
      justify-content: space-between;
      gap: 200px;
    }

    .character {
      @include typo.button;
    }
  }
  
  
  .iconWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
  }
  
  .navIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px; 
    height: 35px; 
    border: 1px solid colors.$darkGray;  
    background-color: transparent;
    border-radius: 50%; 
  }
  
  .icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  
  .time {
    @include typo.subtitle;
    
    span {
    color: colors.$pink;
    @include typo.time;
    
    }
  }
  
  .chartSection {
    width: 100%;
    margin: 20px 0;
  }
  
  .buttonSection {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}