@use '@/styles/constants/colors.scss' as colors;
@use '@/styles/constants/typographies' as typo;

.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  .characterContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: colors.$base;
    border-radius: 15px;
    padding: 20px 0;
    margin: 0 10px;
    position: relative;

    .title {
      display: flex;
      justify-content: space-between;
      gap: 220px;
      margin-left: 10px;
    }

    .character {
      @include typo.button;
    }
  }

  .iconWrapper {
    display: flex;
    flex-direction: column;
    gap: 7px;
    justify-content: center;
  }

  .navIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 23px;
    height: 23px;
    border: 1px solid colors.$darkGray;
    background-color: transparent;
    border-radius: 50%;
  }

  .icon {
    width: 17px;
    height: 17px;
    cursor: pointer;
  }

  .time {
    @include typo.sub;

    .timeTitle {
      margin-bottom: 5px;
      color: colors.$black;
    }

    span {
      color: colors.$pink;
      @include typo.time;
    }
  }

  .myInfo {
    display: flex;
    gap: 30px;
  }

  .chartSection {
    width: 100%;
    margin: 20px 0;

    .chartTitle {
      @include typo.sub;
    }
  }

  .buttonSection {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}
