@use '@/styles/constants/colors' as colors;
@use '@/styles/constants/typographies' as typo;

.mySnapshotListContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  max-height: 300px;
  padding-right: 7px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(170, 210, 248);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: colors.$white;
    border-radius: 10px;
    margin-left: 5px;
  }

  .snapshotGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  .snapshotItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: colors.$skyBlue;
    border-radius: 6px;
    position: relative;

    .snapshotDate {
      padding-top: 5px;
      margin: 0 0 0 34px;
      font-size: 11px;
      font-weight: 800;
      position: absolute;
      z-index: 5;
    }

    .snapshotImage {
      width: 90px;
      height: 250px;
      object-fit: cover;
      border-radius: 6px;
    }
  }
  .noSnapshotMessage {
    @include typo.basic;
  }
}
