.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background-color: white;
  width: 320px;
  border-radius: 20px;
  padding: 20px;
  position: relative;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  z-index: 1000;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.crew-header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.crew-profile-image {
  width: 50px;
  height: 50px;
  background-color: lightgray;
  border-radius: 50%;
  margin-right: 15px;
}

.crew-info {
  text-align: left;
}

.crew-info h2 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.crew-tag {
  display: inline-block;
  background-color: #4da6ff;
  color: white;
  border-radius: 10px;
  padding: 2px 8px;
  font-size: 12px;
  margin-bottom: 5px;
}

.crew-info p {
  margin: 5px 0;
  font-size: 14px;
  color: #777;
}

.crew-stats {
  margin-bottom: 15px;
}

.crew-stats p {
  font-size: 14px;
  margin-bottom: 10px;
}

.crew-points {
  display: flex;
  justify-content: center;
  align-items: center;
}

.radar-chart-container {
  width: 100%;
  height: 220px; /* 차트의 높이를 설정 */
  margin-bottom: 20px;
}

.details-button {
  color: white;
  border: none;
  border-radius: 6px;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  width: 100%;
}
