@use '@/styles/constants/colors.scss' as colors;
@use '@/styles/constants/typographies.scss' as typo;

.bodyAddModal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  background: white;
  border-radius: 30px 30px 0 0;
  box-shadow: 0 -4px 15px rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 0; // 화면 하단에 고정
  left: 50%;
  transform: translateX(-50%); // 가운데 정렬
  max-width: 350px; // 모달의 최대 너비 설정
  width: 100%;
  max-height: 79vh; // 모달의 최대 높이 설정
  overflow-y: auto; // 스크롤 활성화 (스크롤바는 항상 표시되지 않음)
  z-index: 10000;

  .closeIcon {
    position: absolute; 
    top: 40px;
    right: 30px; 
    cursor: pointer; 
  }

  .description {
    color: colors.$darkGray;
    @include typo.description;
  }

  .scrollableContent {
    transform: scale(0.85);
    max-height: 70vh;
    overflow-y: auto; // 스크롤 활성화 (스크롤바는 항상 표시되지 않음)
    -ms-overflow-style: none; // IE와 Edge에서 스크롤바 숨기기
    scrollbar-width: none; // Firefox에서 스크롤바 숨기기
  }

  // 모든 웹킷 브라우저에서 스크롤바 숨기기
  &::-webkit-scrollbar {
    display: none;
  }  
  

}

.divider {
  border: 2px solid colors.$littleDarkGray;
  border-radius: 20px;
  width: 150px;
  margin-bottom: 30px;
}

.completedButton {
  @include typo.smallButton;
}