@use '@/styles/constants/colors.scss' as colors;
@use '@/styles/constants/typographies' as typo;

.exerciseContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .exerciseRecommendButton {
        margin-left: auto;
    }

    .selectExercise {
        @include typo.sub;
    }
}

.timer {
    @include typo.timer;
}

.timerButton {
    display: flex;
    gap: 20px;

    button {
        background: none;
        border: none;
        cursor: pointer;
        outline: none;
    }
}

.finishMent {
    text-align: center;
    @include typo.title;
}
.recordContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 327px;
    background-color: colors.$record;
    border-radius: 15px;
    padding: 2px 0 20px 0;
    margin: 0 10px;
    position: relative;
}