h3 {
  font-size: 16px;
  margin-bottom: 20px;
  .nickname {
    font-weight: bold;
  }
  .highlight {
    color: red;
    font-weight: bold;
  }
}
.crew-recommend {
  display: flex;
  flex-direction: column;
  align-items: center;

  .crew-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 기본적으로 3열 레이아웃 */
    gap: 15px;
    justify-items: center;
    padding: 0 10px; /* 화면에 꽉 차도록 패딩 조정 */
  }

  @media screen and (max-width: 390px) {
    .crew-grid {
      grid-template-columns: repeat(2, 1fr); /* 390px 이하에서는 2열로 변경 */
      gap: 10px;
    }
  }

  @media screen and (max-width: 320px) {
    .crew-grid {
      grid-template-columns: repeat(1, 1fr); /* 매우 작은 화면에서는 1열로 변경 */
    }
  }
}
