@use '@/styles/constants/colors.scss' as colors;
@use '@/styles/constants/typographies' as typo;

.crewInfoContainer {
  background-color: colors.$white;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  margin: 12px 0;

  .crewInfoHeader {
    display: flex;
    margin-bottom: 20px;

    .crewInfoTitle {
      display: flex;
      align-items: center;

      img.crewProfileImage {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-right: 10px;
      }

      h3 {
        font-size: 20px;
        margin-right: 10px;
      }

      .exerciseTag {
        background-color: colors.$blue;
        color: colors.$white;
        padding: 5px 10px;
        border-radius: 20px;
        font-size: 14px;
      }
    }

    .crewDescription {
      margin: 10px 0;
      font-size: 14px;
      color: #555;
    }

    .crewCoins {
      display: flex;
      align-items: center;
      width: 85px;
      height: 22px;
      padding: 3px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
      border-radius: 20px;

      img {
        width: 24px;
        height: 24px;
        margin-right: 5px;
        margin-left: 8px;
      }

      span {
        display: flex;
        font-size: 18px;
        font-weight: bold;
        margin-left: 7px;
        margin-top: 3px;
      }
    }
  }

  .detailButton {
    background-color: colors.$blue;
    color: colors.$white;
    width: 273px;
    height: 30px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 8.5px;
  }

  .crewInfoDetails {
    margin-top: 15px;
    font-size: 14px;
    color: colors.$darkGray;

    p {
      margin: 5px 0;
    }
  }
}
.buttonContainer {
  display: flex;
  margin-bottom: 12px;
  gap: 10px;

  .quest,
  .battle {
    width: 160px;
    height: 53px;
    border-radius: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .quest {
    background-color: colors.$styledButton1;
  }

  .battle {
    background-color: colors.$styledButton2;
  }
}
.crewCharacterContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
  width: 330px;
  height: 230px;
  background-color: colors.$record;
  border-radius: 20px;

  .memberInfo {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      font-size: 18px;
      margin: 10px 0;
    }

    .exerciseTime {
      font-size: 24px;
      font-weight: bold;
      color: #ff5e5e;
    }
  }

  .prevButton,
  .nextButton {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    margin: 0 10px;
  }

  .memberProfileImage {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
}

.crewRankingContainer {
  margin-bottom: 12px;
  background: linear-gradient(
    180deg,
    rgba(213, 244, 255, 1) 0%,
    rgba(234, 250, 255, 1) 58%,
    rgba(255, 255, 255, 1) 100%
  );
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  .rankingList {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 8px;
  }
  .rankingItem {
    background-color: colors.$white;
    width: 280px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 8px;
  }
  .memberProfileImageSmall {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: colors.$darkGray;
  }

  span {
    margin: 0 10px;
  }
}
.time {
  color: colors.$blue;
  font-weight: bold;
}
