@use 'base';
@use 'constants';

* {
  font-family: 'Pretendard', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

/* 390px 이상일 때 고정 너비 */
#root {
  width: 390px;
  margin: 0 auto;
  // padding: 20px;
  height: 100%;
  background-color: white;
}
// #root .outlet {
// }
/* 390px 미만일 때 풀스크린 적용 */
@media screen and (max-width: 390px) {
  #root {
    width: 100%;
    height: 100vh;
    margin: 0;
  }
}

.outletPadding {
  padding: 30px;
}
