$primary: #33ccff;
$black: #000000;
$white: #ffffff;
$darkGray: #8e8e8e;
$lightGray: #f5f5f5;
$pink: #ff8199;
$lightGreen: #3fff9f;
$lightRed: #ff5777;
$moreDarkGray: #525252;
$skyBlue: #98e4ff;
$lightBlue: #f1fafa;
$littleDarkGray: #8e8e8e;
$lightSkyBlue: #98e5ff;
$lightBlue: #71dcff;
$blue: #33ccff;
$cyan: #afdfcb;
