@use '@/styles/constants/colors.scss' as colors;
@use '@/styles/constants/typographies.scss' as typo;

.chartContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    position: relative;
    .chartMain {
        height: 350px; // 그래프 높이 조정
    }

    
    .chartjs-legend {
      display: flex;
      flex-direction: column;
      position: absolute;
      bottom: 10px;  // 하단에 위치
      left: 10px;    // 왼쪽에 위치
      padding: 0;
      list-style: none;
      margin: 0;
      
      li {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
  
        .legend-icon {
          display: inline-block;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          margin-right: 8px;
        }
      &.weight .legend-icon {
        background-color: colors.$lightGreen;
      }

      &.fat .legend-icon {
        background-color: colors.$pink;
      }

      &.muscle .legend-icon {
        background-color: colors.$blue;
      }

      span {
            font-family: 'YourGraphFont', sans-serif; // 폰트 설정
            color: #333; // 범례 텍스트 색상
        @include typo.graph;
      }
    }
  }

}
